*~
*.lo
*.o
*.so
*.la
*.a
*.csv
*.gz
*.bz2
*.xz
#*
.#*
autom4te.cache
Makefile.in
aclocal.m4
config.h.in
README
build-aux/
sp1ff
configure
stamp-h1
GPATH
GRTAGS
GSYMS
GTAGS
.vagrant
*.log
compile_commands.json
*.zst
.cache
